*,
*::before,
*::after {
  box-sizing: border-box; }

.write_post {
  background-color: #ffffff; }
  .write_post .container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 black;
    background-color: whi; }
  .write_post .container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center; }
  .write_post .container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f3f3f3;
    border: none;
    box-shadow: 0 0 5px 0 black; }

@page {
  .write_post {
    margin: 1in; } }
  @media print {
    .write_post {
      background: none; }
      .write_post .container .ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start; }
      .write_post .container .ql-toolbar.ql-snow {
        display: none; } }

.write {
  padding-top: 50px; }
  .write--img {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover; }
  .write--form {
    position: relative; }
    .write--form--group {
      margin-left: 150px;
      display: flex;
      align-items: center; }
    .write--form--submit {
      position: absolute;
      top: 20px;
      right: 50px;
      color: white;
      background-color: teal;
      padding: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px; }
  .write .file-input--file {
    font-size: 30px;
    padding: 20px;
    border: none;
    width: 70vw;
    display: none; }
  .write .file-input--text {
    font-size: 30px;
    padding: 20px;
    border: none;
    width: 70vw; }
    .write .file-input--text--textarea {
      font-size: 20px;
      height: 100vh; }
  .write .file-input--text:focus {
    outline: none; }
  .write .file-input--icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
    cursor: pointer; }
