.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://fy-bucket-photos.s3.amazonaws.com/f1df58c4-fd71-4fd7-a378-1272b60e0b8d.png");
  background-size: cover; }
  .login--title {
    font-size: 50px; }
  .login--form {
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
    .login--form--button {
      margin-top: 20px;
      cursor: pointer;
      background-color: lightcoral;
      border: none;
      color: white;
      border-radius: 10px;
      padding: 10px; }
    .login--form--register-button {
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: teal;
      cursor: pointer;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 10px; }
  .login label {
    margin: 10px 0; }
  .login input {
    padding: 10px;
    background-color: white;
    border: none; }

.auth-msj {
  align-items: center;
  text-align: center; }
  .auth-msj p {
    color: red;
    font-size: small; }
