@import url(~antd/dist/antd.css);
/* VARIABLES */
/* GENERAL */
.link {
  text-decoration: none;
  color: inherit; }

/* APP */
/* HOME */
.home {
  display: flex; }

/* NAVBAR */
.navbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999; }
  .navbar--topleft {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navbar--topleft .topIcon {
      font-size: 20px;
      margin-right: 10px;
      color: #444;
      cursor: pointer; }
  .navbar--topright {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navbar--topright .topImg {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover; }
    .navbar--topright .topSearchIcon {
      font-size: 18px;
      color: #666;
      cursor: pointer;
      margin-left: 15px; }
    .navbar--topright .topList {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none; }
      .navbar--topright .topList--item {
        margin-right: 20px;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer; }
  .navbar--topcenter {
    flex: 6; }
    .navbar--topcenter .topList {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none; }
      .navbar--topcenter .topList--item {
        margin-right: 20px;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer; }

/* HEADER */
.header {
  margin-top: 60px; }
  .header--titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444; }
    .header--titles .t1 {
      position: absolute;
      top: 18%;
      font-size: 20px; }
    .header--titles .t2 {
      position: absolute;
      top: 20%;
      font-size: 100px; }
  .header--img {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover; }

/* SIDEBAR */
.sidebar {
  flex: 3;
  margin: 20px;
  padding: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sidebar--item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sidebar--item .title {
      margin: 10px;
      padding: 5px;
      width: 80%;
      border-top: 1px solid #a7a4a4;
      border-bottom: 1px solid #a7a4a4;
      font-family: "Varela Round", sans-serif;
      font-size: 12px;
      color: #222;
      font-weight: 600;
      line-height: 20px; }
    .sidebar--item--social {
      margin-top: 15px;
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .sidebar--item--social--sidebarIcon {
        font-size: 16px;
        margin-left: 10px;
        cursor: pointer; }
    .sidebar--item p {
      padding: 30px; }
    .sidebar--item img {
      margin-top: 15px;
      width: 100%; }
  .sidebar--list {
    list-style: none;
    margin-bottom: 30px; }
    .sidebar--list--item {
      display: inline-block;
      width: 50%;
      margin-top: 15px;
      cursor: pointer; }

/* POSTS */
.post {
  width: 385px;
  margin: 0px 25px 40px 25px; }
  .post--img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px; }
  .post--info {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .post--info--categories {
      font-family: "Varela Round", sans-serif;
      font-size: 11px;
      color: #be9656;
      line-height: 20px;
      margin-top: 15px;
      margin-right: 10px;
      cursor: pointer; }
    .post--info--title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 24px;
      font-weight: 700;
      margin-top: 15px;
      cursor: pointer; }
    .post--info--date {
      font-family: "Lora", serif;
      font-style: italic;
      font-size: 13px;
      color: #999;
      margin-top: 15px; }
    .post--info--resume {
      font-family: "Varela Round", sans-serif;
      font-size: 14px;
      color: #444;
      line-height: 24px;
      margin-top: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; }

.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px; }

/* SINGLE POSTS */
.singlepost {
  display: flex; }

.singlePostComponent {
  flex: 9; }
  .singlePostComponent--wrapper {
    padding: 20px;
    padding-right: 0px; }
  .singlePostComponent--img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover; }
  .singlePostComponent--title {
    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px; }
  .singlePostComponent--edit {
    float: right;
    font-size: 16px; }
    .singlePostComponent--edit--icon {
      margin-left: 20px;
      cursor: pointer; }
    .singlePostComponent--edit--icon:first-child {
      color: teal; }
    .singlePostComponent--edit--icon:last-child {
      color: tomato; }
  .singlePostComponent--info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #b39656;
    font-family: "Varela Round", sans-serif; }
  .singlePostComponent--description {
    color: #666;
    font-size: 18px;
    line-height: 25px; }
  .singlePostComponent--description::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600; }

/* WRITE */
*,
*::before,
*::after {
  box-sizing: border-box; }

.write_post {
  background-color: #ffffff; }
  .write_post .container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 black;
    background-color: whi; }
  .write_post .container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center; }
  .write_post .container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f3f3f3;
    border: none;
    box-shadow: 0 0 5px 0 black; }

@page {
  .write_post {
    margin: 1in; } }
  @media print {
    .write_post {
      background: none; }
      .write_post .container .ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start; }
      .write_post .container .ql-toolbar.ql-snow {
        display: none; } }

.write {
  padding-top: 50px; }
  .write--img {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover; }
  .write--form {
    position: relative; }
    .write--form--group {
      margin-left: 150px;
      display: flex;
      align-items: center; }
    .write--form--submit {
      position: absolute;
      top: 20px;
      right: 50px;
      color: white;
      background-color: teal;
      padding: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px; }
  .write .file-input--file {
    font-size: 30px;
    padding: 20px;
    border: none;
    width: 70vw;
    display: none; }
  .write .file-input--text {
    font-size: 30px;
    padding: 20px;
    border: none;
    width: 70vw; }
    .write .file-input--text--textarea {
      font-size: 20px;
      height: 100vh; }
  .write .file-input--text:focus {
    outline: none; }
  .write .file-input--icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
    cursor: pointer; }

/* SETTINGS */
.settings {
  display: flex; }
  .settings--wrapper {
    flex: 9;
    padding: 20px; }
    .settings--wrapper--title {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .settings--wrapper--title--update {
        font-size: 30px;
        margin-bottom: 20px;
        color: lightcoral; }
      .settings--wrapper--title--delete {
        color: red;
        font-size: 12px;
        cursor: pointer; }
  .settings--form {
    display: flex;
    flex-direction: column; }
    .settings--form--pp {
      display: flex;
      align-items: center;
      margin: 10px 0; }
      .settings--form--pp img {
        width: 70px;
        height: 70px;
        border-radius: 20px;
        object-fit: cover; }
    .settings--form--file--input--icon {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: lightcoral;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      cursor: pointer; }
    .settings--form #settings--form--file--input {
      display: none; }
    .settings--form--submit {
      width: 150px;
      align-self: center;
      border: none;
      border-radius: 10px;
      color: white;
      background-color: teal;
      padding: 10px;
      margin-top: 20px;
      cursor: pointer; }
    .settings--form label {
      font-size: 20px;
      margin-top: 20px; }
    .settings--form input {
      color: gray;
      margin: 10px 0;
      height: 30px;
      border: none;
      border-bottom: 1px solid lightgray; }

/* LOGIN */
.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://fy-bucket-photos.s3.amazonaws.com/f1df58c4-fd71-4fd7-a378-1272b60e0b8d.png");
  background-size: cover; }
  .login--title {
    font-size: 50px; }
  .login--form {
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
    .login--form--button {
      margin-top: 20px;
      cursor: pointer;
      background-color: lightcoral;
      border: none;
      color: white;
      border-radius: 10px;
      padding: 10px; }
    .login--form--register-button {
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: teal;
      cursor: pointer;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 10px; }
  .login label {
    margin: 10px 0; }
  .login input {
    padding: 10px;
    background-color: white;
    border: none; }

.auth-msj {
  align-items: center;
  text-align: center; }
  .auth-msj p {
    color: red;
    font-size: small; }

/* LOGIN */
.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://fy-bucket-photos.s3.amazonaws.com/f1df58c4-fd71-4fd7-a378-1272b60e0b8d.png");
  background-size: cover; }
  .register--title {
    font-size: 50px; }
  .register--form {
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
    .register--form--button {
      margin-top: 20px;
      cursor: pointer;
      background-color: teal;
      border: none;
      color: white;
      border-radius: 10px;
      padding: 10px; }
    .register--form--login-button {
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: lightcoral;
      cursor: pointer;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 10px; }
  .register label {
    margin: 10px 0; }
  .register input {
    width: 400px;
    padding: 10px;
    background-color: white;
    border: none; }

/* ADMIN */
.layout-adminDash {
  margin: 0rem 0rem;
  min-height: 800px; }

.site-layout-background {
  min-height: 600px;
  background: #fff; }

.create-post {
  display: flex;
  justify-content: space-between; }
  .create-post .content-post {
    flex: 9; }
    .create-post .content-post .title-post {
      text-align: center; }
    .create-post .content-post .resume-section {
      min-width: 800px;
      max-width: 800px; }
  .create-post .settings-post {
    flex: 3;
    min-height: 100%;
    border-left: 1px solid rgba(151, 151, 151, 0.534); }
    .create-post .settings-post .title-post-settings {
      text-align: center; }
    .create-post .settings-post .settings-comments {
      font-size: small;
      font-weight: bold; }

.site-layout-content {
  border: 1px solid rgba(153, 153, 153, 0.596);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  min-width: 500px;
  background: #fff; }
